/* トップページのCSSのみ記述します。 */

@charset "UTF-8";

body {
  font-weight: 500;
}

p {
  font-size: 1.8rem;
  line-height: 1.8em;
}

@media (max-width: 420px) {
  p {
    font-size: 1.4rem;
    line-height: 1.3em;
  }
}

/* mainvisual */
.mainvisual {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  height: 80dvh;
  min-height: 750px;
  background-image: url(../img/mainvisual-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-text {
  width: 100%;
  align-items: flex-start;
  gap: 100px;
  margin-top: -5%;
}

.main-text div {
  background-image: linear-gradient(
    0deg,
    #000527,
    #0015a6 33%,
    #000527 67%,
    #0015a6
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-blend-mode: color-burn;
  font-family: "Noto Serif JP", serif;
  text-align: center;
  font-weight: 800;
}

.main-text > div span:first-child {
  font-size: 30rem;
}

.main-text > div span:nth-of-type(2) {
  font-size: 10rem;
}

.main-text h2 {
  margin-top: 160px;
  font-size: 3.6rem;
  background-image: linear-gradient(
    40deg,
    #000527,
    #0015a6 33%,
    #000527 67%,
    #0015a6
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-blend-mode: color-burn;
}

@media (max-width: 420px) {
  .mainvisual {
    min-height: 500px;
  }

  .main-text div {
    line-height: 1;
  }
  .main-text {
    flex-direction: column;
    gap: 30px;
    width: 90%;
    margin-top: -10%;
  }

  .main-text > div span:first-child {
    font-size: 10rem;
  }

  .main-text > div span:nth-of-type(2) {
    font-size: 3rem;
  }

  .main-text h2 {
    margin-top: 0;
    font-size: 2rem;
  }
}

/* 小出塗装の信頼を形づくる3つのこだわり */
.future {
  max-width: 1920px;
  padding-top: 100px;
  margin: 0 auto 200px;
}

.future .section-title {
  margin: 0 auto 80px;
}

.future__list {
  width: 90%;
  margin-left: 10%;
}

.future__list-item {
  gap: 50px;
  width: 100%;
}

.future__list-item .textarea {
  flex: 1;
}

.future__list-item .textarea h3 {
  display: block;
  position: relative;
  width: fit-content;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 32px;
  line-height: 1.5em;
}

.future__list-item .textarea h3 span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -80%) rotate(-10deg);
  font-family: "Homemade Apple", cursive;
  font-size: 3.2rem;
  color: #ecc64a;
}

.future__list-item .textarea p:not(:last-child) {
  margin-bottom: 1em;
}

.future__list-item figure {
  width: 50%;
}

@media (max-width: 420px) {
  .future {
    margin-bottom: 120px;
  }

  .future .section-title {
    margin-bottom: 30px;
  }

  .future .section-title span {
    transform: translate(-10%, -170%) rotate(-10deg);
  }

  .future__list {
    width: 100%;
    margin-left: 0;
  }

  .future__list-item {
    gap: 0;
    flex-direction: column-reverse;
  }
  .future__list-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .future__list-item figure {
    width: 100%;
  }

  .future__list-item:nth-child(1) figure img,
  .future__list-item:nth-child(3) figure img {
    padding-right: 5%;
  }

  .future__list-item:nth-child(2) figure img {
    padding-left: 5%;
  }
  .future__list-item .textarea {
    width: 90%;
  }

  .future__list-item .textarea h3 {
    margin-top: 50px;
    font-size: 2rem;
  }

  .future__list-item .textarea h3 span {
    transform: translate(0, -120%) rotate(-10deg);
  }

  .future__list-item .textarea p {
    font-size: 1.6rem;
  }

  .future__list-item .textarea p:not(:last-child) {
    margin-bottom: 1em;
  }
}

/* 塗り替えでマイホームをながく快適に*/
.repaint {
  position: relative;
  margin-bottom: 100px;
}

.repaint::before {
  content: "";
  display: block;
  width: 260px;
  height: 260px;
  position: absolute;
  top: -150px;
  right: 5%;
  background-image: url(../img/section2-img4.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.repaint-content {
  gap: 50px;
  width: 100%;
  margin-top: -20px;
}

.repaint-content .photo-area {
  position: relative;
  width: 600px;
  height: 530px;
}

.repaint-content .photo-area img:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 430px;
  height: 430px;
}

.repaint-content .photo-area img:nth-last-of-type(2) {
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: 50px;
  left: 300px;
}

.repaint-content .photo-area img:nth-of-type(3) {
  width: 110px;
  height: 190px;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 190px;
}

.repaint-content .text-area {
  width: 45%;
}

.repaint-content .text-area p:not(:last-of-type) {
  margin-bottom: 10px;
}

.repaint-content .text-area .detail-btn {
  margin: 50px 0 0 auto;
}

@media (max-width: 420px) {
  .repaint {
    margin-bottom: 80px;
  }

  .repaint::before {
    display: none;
  }

  .repaint .section-title span {
    transform: translate(0, -120%) rotate(-10deg);
  }

  .repaint-content {
    gap: 30px;
    margin: 0 auto;
    flex-direction: column;
    width: 90%;
  }

  .repaint-content .photo-area {
    height: 350px;
    width: 100%;
  }

  .repaint-content .photo-area img:first-child {
    top: 20px;
    width: 70%;
    height: auto;
  }

  .repaint-content .photo-area img:nth-last-of-type(2) {
    width: 50%;
    height: auto;
    left: auto;
    right: 0;
  }

  .repaint-content .photo-area img:nth-of-type(3) {
    width: 80px;
    height: 140px;
    bottom: 30px;
    left: 80px;
  }

  .repaint-content .text-area {
    width: 100%;
  }

  .repaint-content .text-area p {
    font-size: 1.4rem;
  }
  .repaint .text-area .detail-btn {
    margin: 50px auto 0;
    font-size: 1.4rem;
  }
}

/* 外壁塗装をしたいあなたにおすすめのパック*/
.plan {
  background-image: url(../img/plan__bg-top.jpg),
    url(../img/plan__bg-repeat.jpg);
  background-repeat: no-repeat, repeat-y;
  background-position: center top, center 20%;
  background-size: contain, 100%;
  padding: 100px 0 160px;
}

.plan .section-title {
  margin-bottom: 80px;
}

.plan-contents {
  justify-content: space-between;
  gap: 50px;
}

.plan-contents-textarea {
  width: 45%;
  padding-left: 5%;
}

.plan-contents-textarea h3 {
  margin-bottom: 20px;
}

.plan-contents-textarea p:not(:last-child) {
  margin-bottom: 10px;
}

.box3-right {
  width: 50%;
}

.plan-contents figure {
  width: 50%;
}

.plan-contents figure img {
  width: 100%;
}

.plan-contents-textarea .detail-btn {
  margin-top: 50px;
}

@media (max-width: 420px) {
  .plan {
    padding: 80px 0;
  }

  .plan .section-title {
    margin-bottom: 50px;
  }

  .plan .section-title span {
    transform: translate(-10%, -100%) rotate(-10deg);
  }

  .plan-contents {
    flex-direction: column-reverse;
  }

  .plan-contents figure {
    width: 100%;
  }

  .plan-contents img {
    width: 100%;
    padding-right: 5%;
  }

  .plan-contents-textarea {
    width: 100%;
    padding: 0 5%;
  }
  .plan-contents-textarea .detail-btn {
    margin: 50px auto 0;
  }
}

/* 施行の流れ */
.flow {
  margin: 160px auto;
}

.flow .section-title span {
  transform: translate(-70%, -100%) rotate(-10deg);
}

.flow__list-wrapper {
  width: 80%;
  margin: 50px auto 0;
}

.flow__list {
  width: 100%;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 50px;
}

.flow__list-item {
  display: block;
  position: relative;
  width: 100%;
  padding: 25px 45px 30px;
  background-color: rgba(236, 198, 74, 0.5);
}

.flow__list-item:not(:last-child):after {
  content: "";
  display: block;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 60px;
  height: 60px;
  background-image: url(../img/arrow_down.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.flow__list-item h3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  margin-bottom: 20px;
}

.flow__list-item h3::before {
  display: inline-block;
  font-weight: 700;
}

.flow__list-item:nth-child(1) h3::before {
  content: "01";
}

.flow__list-item:nth-child(2) h3::before {
  content: "02";
}

.flow__list-item:nth-child(3) h3::before {
  content: "03";
}

.flow__list-item:nth-child(4) h3::before {
  content: "04";
}

.flow__list-item:nth-child(5) h3::before {
  content: "05";
}

.flow__list-item:nth-child(6) h3::before {
  content: "06";
}

.flow__list-item:nth-child(7) h3::before {
  content: "07";
}

.flow__list-item p:nth-of-type(2) {
  padding-top: 10px;
}

.contact-area {
  gap: 20px;
  margin: 20px 0 0;
}

.contact-area a {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 15px;
  width: fit-content;
  font-size: 3.2rem;
  font-weight: 700;
}

.contact-area a::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.contact-area a:first-child:before {
  background-image: url(../img/phone.svg);
}

.contact-area a:nth-child(2):before {
  background-image: url(../img/mail.svg);
}

.flow__list-wrapper .detail-btn {
  margin: 0 auto;
}

.field-flow {
  background-color: #fff;
  padding: 120px 0 80px;
}

.field-wrapper {
  width: 80%;
  margin: 80px auto 0;
}

.field__list {
  width: 100%;
}

.field__list-item {
  display: block;
  width: 100%;
}

.field__list-item:not(:last-child) {
  margin-bottom: 40px;
}

.field__list-item h3 {
  margin-bottom: 30px;
  padding: 10px 0;
  background-color: #ecc64a;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
}

.field__list-item__content {
  gap: 60px;
}

.field__list-item__content figure {
  width: 35%;
}

.field__list-item__content .field__list-item__textarea {
  flex: 1;
  font-size: 1.8rem;
  font-weight: 500;
}

.field__list-item__content .field__list-item__textarea p {
  flex: 1;
  font-size: 1.8rem;
  font-weight: 500;
}

.field__list-item__textarea__qa {
  margin-top: 1.5em;
}

@media (max-width: 420px) {
  .flow {
    margin: 80px auto 50px;
  }

  .flow__list-wrapper {
    width: 100%;
    margin: 50px auto 0;
  }

  .flow__list {
    gap: 50px;
    margin-bottom: 30px;
  }

  .flow__list-item {
    padding: 15px 20px 20px;
  }

  .flow__list-item h3 {
    gap: 0.5em;
    margin-bottom: 15px;
  }
  .contact-area {
    flex-direction: column;
    gap: 10px;
  }

  .contact-area a {
    gap: 10px;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 500;
  }

  .contact-area a::before {
    width: 25px;
    height: 25px;
  }

  .field-flow {
    padding: 100px 0 50px;
  }

  .field-flow .section-title span {
    transform: translate(-20%, -160%) rotate(-10deg);
  }

  .field-wrapper {
    width: 100%;
    margin: 50px auto 0;
  }

  .field__list-item h3 {
    font-size: 2rem;
  }

  .field__list-item__content {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    gap: 20px;
  }

  .field__list-item__content figure {
    width: 100%;
  }

  .field__list-item__content .field__list-item__textarea {
    flex: 1;
    font-size: 1.4rem;
    font-weight: 500;
  }

  .field__list-item__content .field__list-item__textarea p {
    font-size: 1.4rem;
  }
}

/* 施工実績 */
.works {
  padding: 80px 0;
}

.works .section-title {
  margin-bottom: 50px;
}

.works-list h3 {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
}

.works-list-item .photo-area {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding-right: 40px;
}

.works-list {
  width: 100%;
  margin: 50px auto;
}

.works-list h3 {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
}

.works-list-item .photo-area {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding-right: 40px;
}

.cat-area {
  justify-content: flex-start;
  gap: 5px;
  position: absolute;
  bottom: 10px;
  left: 2.5%;
  width: 100%;
  color: #fff;
}

.cat-area p {
  padding: 0 10px;
  background-color: #353f66;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2em;
}

.works .detail-btn {
  margin: 0 auto;
}

/* お見積もりは無料で行っています！ */
.contact {
  margin: 120px auto;
}

.contact .section-title {
  margin-bottom: 80px;
}

.contact-link {
  height: 150px;
  background-color: #353f66;
  border-radius: 20px;
  color: #fff;
  font-size: 2.4rem;
}

@media (max-width: 420px) {
  .contact {
    margin: 80px auto 100px;
  }

  .contact .section-title {
    margin-bottom: 50px;
  }
  .contact .section-title span {
    transform: translate(0, -100%) rotate(-10deg);
  }

  .contact-link {
    width: 90%;
    height: 60px;
    margin: 0 auto;
    font-size: 2rem;
    border-radius: 5px;
  }
}

/* 私たちと一緒に働きませんか？ */
.recruit {
  position: relative;
  margin-bottom: 100px;
  padding: 160px 0 100px;
  background-image: url(../img/recruit_bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.recruit-content {
  width: 45%;
  margin: 0 10vw 0 auto;
}

.recruit .section-title {
  color: #fff;
  margin-bottom: 50px;
  text-shadow: rgba(0, 0, 0, 0.251) 0px 4px 4px;
}

.recruit .section-title span {
  transform: translate(0, -100%) rotate(-10deg);
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.251) 0px 4px 4px;
}

.recruit .section-title::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  width: 90px;
  height: 150px;
  background-image: url(../img/character.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.recruit-content p {
  text-shadow: rgba(0, 0, 0, 0.251) 0px 4px 4px;
  color: #fff;
}

.recruit-content p:not(:last-of-type) {
  margin-bottom: 10px;
}

.recruit-content p:last-of-type {
  padding-bottom: 50px;
}

@media (max-width: 420px) {
  .recruit {
    margin-bottom: 80px;
    padding: 80px 0;
  }

  .recruit .section-title span {
    transform: translate(100%, -100%) rotate(-10deg);
  }

  .recruit .section-title::before {
    display: none;
  }

  .recruit-content {
    width: 95%;
    margin: 0 auto;
  }
  .recruit-content .detail-btn {
    margin: 0 auto;
  }
}

/* 小出塗装map */
.about {
  width: 50%;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

.name {
  width: fit-content;
  position: relative;
  margin: 0 auto;
}

.name::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  width: 120px;
  height: 200px;
  background-image: url(../img/character.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.name h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.name h3 {
  font-size: 5.6rem;
}

.kana {
  font-size: 2.4rem;
  margin-bottom: 10px;
}

.old-name {
  font-size: 1.8rem;
}

.address > p {
  margin: 60px auto 10px;
}

.map {
  width: 100%;
  aspect-ratio: 5/3;
  margin: 20px 0;
}

.map iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.contact-box {
  width: 320px;
  color: #ecc64a;
  margin: 30px auto;
}

.contact-box img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: 10px;
}

.contact-box p:first-of-type {
  font-size: 3.2rem;
  font-weight: 700;
  margin-left: 10px;
}

.contact-time {
  width: 100%;
  padding-right: 10px;
  font-size: 1.6rem;
  color: #333;
  text-align: right;
}

.area {
  margin: 30px auto 50px;
  padding: 30px;
  border: 3px solid #353f66;
  border-radius: 20px;
}

.area h4 {
  font-size: 2rem;
  padding-bottom: 20px;
}

.area p {
  width: fit-content;
  font-size: 1.8rem;
  margin: 0 auto;
  text-align: left;
}

.sns {
  gap: 100px;
}

.sns p {
  font-size: 2rem;
  font-weight: 700;
  position: relative;
}

.sns p::after {
  position: absolute;
  content: "";
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #333;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
}

.sns a {
  width: fit-content;
}

.sns img {
  width: 65px;
  height: 65px;
  object-fit: cover;
}

@media (max-width: 420px) {
  .about {
    width: 95%;
  }

  .name h2 {
    font-size: 1.6rem;
  }

  .name h3 {
    font-size: 4rem;
  }

  .kana {
    font-size: 1.8rem;
  }

  .name::after {
    width: 80px;
    height: 140px;
    right: 20px;
  }

  .address > p {
    margin: 60px auto 10px;
  }

  .contact-box img {
    width: 30px;
    height: 30px;
  }

  .contact-time {
    padding-right: 25px;
    font-size: 1.4rem;
  }
  .area {
    margin: 50px auto;
    padding: 20px 30px;
  }

  .area h4 {
    font-size: 1.8rem;
  }

  .area p {
    font-size: 1.6rem;
  }

  .sns {
    gap: 50px;
  }

  .sns p {
    font-size: 1.8rem;
    text-align: left;
    line-height: normal;
  }

  .sns p::after {
    right: -33px;
  }
}

.fadeIn {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.5s linear;
}

.fadeIn.start {
  opacity: 1;
  transform: translateY(0);
}
